ul, ol {
	padding-left: 0px !important;
	margin-top: 0px;
	margin-bottom: 10px;
}
#nav_menu .nav_menu_modules {
	margin-top: 40px;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
	width:500px;
	margin: 35px 0px;
}
.mobile_title {
	display: none;
	z-index: 100;
	position: relative;
	margin-top: 40px;
	font-size: 12pt;
	text-align: center;
	padding-top: 5px;
	background-color: #a94e08;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: -69px;
}
h3:active {
	outline: none;
	border: none;
}
#seg2 {
	z-index: 100;
	position: relative;
}
a {
	color: #1a7db3;
}
a:hover {
	color: #494949;
	text-decoration: none;
}
#nav_menu {
	margin-top: 40px;
}
#menua {
	position: fixed;
}
.home_footer_inner {
	margin: 0 auto;
	margin-top: 45px;
	width: 1000px;
}
#spacer {
	width: 88px;/*height: 145px;*/
}
.copyright_holder {
	float: right;
	margin-top: -67px;
}
/* update */
* {
	margin: 0;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
#wrapper {
	width: 100%;
	height: 100%;
	min-height: 100%;
	/* update
	height: 100%;
	position: relative;
	*/
	margin:-1px auto -90px;
}
.small_header {
	background: url(../images/home/mobile_title.jpg);
	background-position: center;
	display: none;
	width: 100%;
	height: 119px;
	color: white;
	margin-top: 40px
}
.bottom_bar {
	display: none;
	height: 41px;
	padding-left: 30px;
	font-size: 14pt;
	padding-top: 6px;
	background-color: #2a4996;
	text-transform: uppercase;
	font-weight: bold;
}
.top_bar {
	font-weight: bold;
	display: none;
	background-color: #989898;
	font-size: 18pt;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	border-bottom: 2px solid #4d5164;
	text-transform: uppercase;
}
body {
	background-color: white!important;
	font-size: 14px;
	color: #333333 !important;
	background: url(../images/home/bg.jpg)!important;
	background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position: center !important;
}
#home_content {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
}
img.banner2 {
	width: 723px;
	margin-top: 57px;
	z-index: 1000;
	position: relative;
}
img.banner1 {
	margin: -224px 0 0 -46px;
	position: absolute;
}
.mobile_header {
	border-left: 20px solid white;
	border-right: 20px solid white;
	width: 748px;
	margin: 0 auto;
	background-color: #989898;
	display: none;
	height: 166px;
}
.developers a:hover {
	color: #494947;
	text-decoration::none;
}
.developers a {
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	text-decoration:none;
	position:relative;
	padding: 6px 12px 4px;
}
#footer_copyright br {
	display: none !important;
}
#footer_copyright img {
	margin-left: 17px;
}
.developer_names {
	width: 239px;
	margin-bottom: 30px !important;
}
.developers {
	background-color: #1a7db3;
	border: 2px solid;
	border-color: #1a7db3;
	border-radius: 11px;
	color: #FFF;
	width: 78px;
	float: left;
	margin-top: -5px;
	z-index: 1000;
}
#menua {
	height: 40px;
}
.clear {
	clear: both;
}
/*
.turned_arrow {
	background-position: left center !important;
	color: #666666 !important;
}*/
.iphone_title {
	font-size: 12pt !important;
	color: white;
	font-weight: bold;
	padding-bottom: 5px;
	display: none;
}
.gs_text1 {
	display: block;
}
.gs_text2 {
	display: none;
}
#menu_inner {
	width: 980px;
}
.seg {
	padding-bottom: 6px;
	margin-top: 35px;
	width: 237px;
	text-transform: uppercase;
	font-size: 10pt;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 22px;
	text-align: left;
}
.top30 {
	margin-top: 45px;
}
.arrow {
	display: none;
	margin-left: -5px;
	position: absolute;
	z-index: 99;
}



#navSubmenu {
	margin-left: 435px;
	height: auto !important;
}
#submenu {
	padding-left: 25px;
	padding-top: 10px;
	display: none;
	z-index: 99;
	position: absolute;
	width: 278px !important;
	background-color: white;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(59,59,59,0.5);
	-moz-box-shadow: 0px 0px 30px 0px rgba(59,59,59,0.5);
	box-shadow: 0px 0px 30px 0px rgba(59,59,59,0.5);
}
.lessons li {
	/*background: url("../images/home/arrow.png") no-repeat;*/
	background-position: left center;
	list-style: none;
	margin-left: -3px;
	margin-right: auto;
	width: 235px;
}
.lessons li:hover {
	/*background: url("../images/home/arrow_gray.png") no-repeat;*/
	background-position: left center;
}
.lessons li a {
	padding-top: 8px;
	padding-bottom: 8px;
	display: block;
	/* padding-left: 30px; */
	width: 234px;
	font-weight: normal;
	text-align: left;
}
#right_col {
	background-color: #f6f5f2;
	height: 100%;
	padding-top: 36px;
	margin-top: 21px !important;
	width: 305px;
	margin:0px 0px 0px;
	float: right;
}
#custom_index { height:100%; min-height:600px; }
#content { height:100%; }
#modules {
	margin: 0 auto;
	border-radius: 14px;
	width: 237px;/* float: right; */
}
#course_title2 {
	margin-top: 72px;
	margin-left: 213px;
	display: block;
	position: absolute;
}
body #nav_holder {
/*margin-left: 50px;*/
}
#gs {
	background:#1a7db3 url('../images/home/gs.jpg') left center no-repeat;
	border: 2px solid;
    border-color:#1a7db3;
	border-radius: 11px;
	padding: 8px 11px;
	height: 40px;
	width: 236px;
	color: white;
	text-transform:capitalize;
	cursor: pointer;
	margin: 20px 0 0 40px !important;
	text-align: left;
	font-weight: 100;
	font-size:15px;
	letter-spacing:1px;
}
#gs a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	
}
#gs:hover {
	color: white;
}

#fts {
	background:#FFF url('../images/home/fts.jpg') left center no-repeat;
	border: 2px solid;
	border-color:#FFF;
    border-radius: 11px;
	padding: 8px 11px;
	height: 40px;
	width: 236px;
	color: #1a7db3;
	text-transform:capitalize;
	cursor: pointer;
	margin: 0 0 59px 40px;
	text-align: left;
	font-weight: 300;
	font-size:15px;
	letter-spacing:1px;
	float:left;
}
#fts a {
	color: #1a7db3;
	text-decoration: none;
	text-transform: uppercase;
	
}
#fts:hover {
	color: #1a7db3;
}


#preload {
	display: none;
}
.right_menu_modules {
	margin-top: -16px;
}
.right_menu_modules li {
	/*background: url("../images/home/s_arrow.png") no-repeat;*/
	list-style: none;
	width: 255px;
}
.right_menu_modules li:hover {
/*background: url("../images/home/s_arrow2.png") no-repeat;*/
}
.right_menu_modules li a {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 9px;
	display: block;
	width: 218px;
	font-weight:300;
	font-size:14px;
}
.bottom_line {
	border-bottom: 1px solid #cccccc;
}
.right_nav_menu_lessons {
	margin-left: -354px;
	display: none;
	position: absolute;
	background-color: white;
}
#course_title {
	display: none;
}
.cfversion {
	margin-left: 330px;
	color: #ffffff;
}
#footer {
	/* margin-top: -21px !important; */
	position: relative;
	/* margin-bottom: 0px !important; */
	position: fixed !important;
	background-color: #fff;
	color: #000;
	display: block;
	width: 100%;
	z-index: 100;
	padding-top: 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	font-size: 14px;
}
#footer img {
	padding-left: 20px;
}
#footer span {
	display: inline-block;
	line-height: 30px;
	margin-bottom: 0;
	/* padding-right: 10px; */
	vertical-align: top;
	text-align: right;
}
#newFooter {
	background: none repeat scroll 0 0 #fff;
	bottom: 0;
	height: 53px;
	margin-top: 45px;
	position: relative;
	width: 100%;
	z-index: -1;
}
a#index_bookmark {
	background-color: #DD7000;
}
/* aligns FLVS logo to white frame */
#footer > img {
	margin-right: 0px;
}
.right_mod_link {
	margin-bottom: 5px;
	padding-bottom: 5px;
}
#footer_copyright {
	padding: 0 20px;
	font-size: 13px;
	margin-top: 0px;
	text-align: right;
	margin: auto;
	background-color: transparent;
	border-radius: 0;
	border: none;
}
.mobileTitle {
	display: none;
	width: 100%;
	background-color:rgba(51, 51, 51, 0.5);
	margin-top: 40px;
} 
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 0px solid #e0376e;
	background: none;
	font-weight: normal;
	text-align: left;
}
a.mobile_mod {
	color: #1a7db3 !important;
	border-bottom: 1px solid #cccccc;
	width: 340px;
	display: block;
	padding-bottom: 10px;
}
.ui-accordion .ui-accordion-icons {
	margin-top: -15px;
	padding-left: 30px;
	margin-left: -30px;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -15px;
}
.mobile_lesson li a {
	color: #1a7db3 !important;
}


.accordion .content {
	display:none;
}
.clickReveal a.title, .accordion a.title {
  margin-left: 20px;
  background-color: transparent !important;
  float: none;
  width: 281px;
  display: block;
  border: none;
  font-weight: none;
}
.clickReveal a.title, .accordion a.title {
	background-color: #135673;
	border: none;
	font-weight: none;
}
.clickReveal a.title:hover, .accordion a.title:hover {
	background-color: #6c6c6c;
	color:#333 !important;
}
.clickReveal .content, .accordion .content {
	width: 97%;
	border: solid 1px #e8e8e8;
}
.tabs div.panel {
	border: solid 1px #e8e8e8;
}
.tabs a.tab {
	background-color: #6c6c6c;
	font-weight: normal;
}
.tabs a.tab:hover, .tabs a.active {
	background-color: #135673;
	font-weight: normal;
}
.accordion a.title {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 1px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 9px;
	display: block;
	width: 218px;
	font-weight: 300;
	font-size: 14px;
}
.accordion .content {
	margin-bottom: 1px;
}

body main {
	/* update 
	margin:0 auto;
	height:85% !important;
	*/
	width: 100%;
	height:100%;
	min-height: 100%;
	margin:0 auto -90px;
}

#big_container {
  min-height: 100%;
  position: relative;
  margin:0;
  padding:0;
  height:100%;
}
footer {
	position:relative;
	float:left;
	background-color:#FFF;
	width:100%;
	z-index:8888;
}
footer, .push {
	height:90px;
}
#footer_copyright br {
	display: none !important;
}
#footer_copyright img {
	margin-left:10px;
}
/*
.spacer {
	display: block;
	width: 100%;
	height: 94px;
	float:left;
}
*/