@media screen and (min-width: 500px) {
body #menu_inner {
	width: 1005px;
}
body .home_footer_inner {
	width: 1005px;
}
body #right_menu_seg1_mobile {
	display: none;
}
body #right_menu_seg2_mobile {
	display: none;
}
body #gs2 {
	display: none;
}

body main {
width: 100% !important;
}


}
@media (min-width: 768px){
	#nav_menu .nav_menu_modules li .nav_menu_lessons {
		margin: 35px 70px;
	}
}
@media screen and (min-width: 810px) {
.nav_menu_lessons {
	left: 209px !important;
	top: -35px !important;
}
#menu {
	margin-top: -40px;
}
}

 @media screen and (min-width: 810px) and (max-width: 1025px) {
	 
	 .arrow {
  display: none;
  margin-left: -13px;
	 }
body main {
width: 700px !important;
}
body #menu_inner {
	width: 790px;
}
body .home_footer_inner {
	width: 790px;
}
body #home_content {
	width: 100%;
}
body #course_title2 {
	margin-left: 0;
}
body #navSubmenu {
	    margin-left: 62px;
}
body #right_col {
	margin-right: -30px;
	margin-top: -30px !important;
	background-color: rgba(255,255,255,0.9);
	padding-top: 0;
	float: left;
	z-index: 5000;
	position: relative;
	height:117%;
	width: 381px;
}
body .mobileTitle {
		display:block; 
		text-align: center;
	 }

body {
	background: url(../images/home/bg2.jpg)!important;
	background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position:center !important;
	
}
#nav_menu .nav_menu_modules {
	margin-top:40px;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
  margin: -5px 70px;
}
}

 @media (max-width: 991px) and (min-width: 768px){
	 #nav_menu .nav_menu_modules li .nav_menu_lessons {
		 margin: -5px 70px;
	 }
 }

 @media screen and (min-width: 768px) and (max-width: 1025px) {
	body main {
		margin-top: 50px;
	}
	
	body .mobileTitle {
		display:block; 
	 }
	 #nav_menu .nav_menu_modules {
		margin-top:40px;
	}
 }

 @media screen and (min-width: 0px) and (max-width: 1025px) {
	#footer_inner {
		width: 535px !important;
	}
	
	#gs {
		background: #1a7db3 url('../images/home/gs.jpg') left center no-repeat;
		border: 2px solid;
		border-color: #1a7db3;
		border-radius: 11px;
		padding: 8px 11px;
		height: 40px;
		width: 236px;
		color: white;
		text-transform: capitalize;
		cursor: pointer;
		margin: 20px 0 0 60px !important;
		text-align: left;
		font-weight: 100;
		font-size: 15px;
		letter-spacing: 1px;
	}
	
	#fts {
	background:#FFF url('../images/home/fts.jpg') left center no-repeat;
	border: 2px solid;
	border-color:#FFF;
    border-radius: 11px;
	padding: 8px 11px;
	height: 40px;
	width: 236px;
	color: #1a7db3;
	text-transform:capitalize;
	cursor: pointer;
	margin: 0 0 59px 60px;
	text-align: left;
	font-weight: 300;
	font-size:15px;
	letter-spacing:1px;
	float:left;
}
#fts a {
	color: #1a7db3;
	text-decoration: none;
	text-transform: uppercase;
	
}
#fts:hover {
	color: #1a7db3;
}
	
	 body {
	background: url(../images/home/bg2.jpg)!important;
	background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position:center !important;
	
}
	 body .mobileTitle {
		display:block; 
		text-align:center;
	 }
	 
	body #nav_menu {
		margin-top: 0px;
	}
	
	body #course_title2 {
		display: none;
	}
	
	body .small_header {
		display: block;
	}
	
	body #menu_inner {
		width: 100% !important;
	}
	
	body .home_footer_inner {
		width: 100%;
	}
	
	body #home_content {
		width: 100%;
	}
	
	body #course_title2 {
		margin-left: 0;
	}
	
	body #navSubmenu {
		margin-left: 210px;
	}
	
	body #gs2 {
		margin-top: 50px;
		display: block;
		padding-left: 17px;
		padding-top: 20px;
		background: url("../images/home/gs.jpg");
		background-repeat: no-repeat;
		height: 36px;
		width: 330px;
		color: white;
		text-transform: uppercase;
		cursor: pointer;
		margin-left: -3px;
	}
	body #gs2:hover {
		background: url("../images/home/gs_over.jpg");
		background-repeat: no-repeat;
	}
	body #modules {
		padding-bottom: 20px;
		margin-top: 0;
		border-radius: 0;
		width: 341px;
		float: left;
	}
	body #right_col {
	  background-color: rgba(255,255,255,0.9);
	  padding-top: 0;
	  float: left;
	  margin-top: -80px !important;
	  margin-right: 0;
	  z-index: 5000;
	  position: relative;
	  height:117%;
	  width: 381px;
	}
body #right_menu_seg1 {
	display: none;
}
body #right_menu_seg2 {
	display: none;
}
body #right_menu_seg1_mobile {
	display: block;
}
body #right_menu_seg2_mobile {
	display: block;
}
body .mobile_mod {
	text-transform: none;
}
body #right_menu_seg1_mobile div, body #right_menu_seg2_mobile div, .ui-accordion-content{
height: auto !important;
background-color: white;
-moz-box-shadow: 0px 0px 30px #a5a5a5;
-webkit-box-shadow: 0px 0px 30px #a5a5a5;
box-shadow: 0px 5px 20px #a5a5a5;
	width: 313px !important;
  margin-left: 18px;
  margin-top: -4px;
  margin-bottom: 10px;
}
div#ui-accordion-right_menu_seg1_mobile-panel-2 {
margin-top: -7px !important;
/* border: 2px solid black; */
}
.ui-accordion-content {
	margin-top:20px;
}
body #seg2, body #seg1 {
	z-index: 100;
	position: relative;
}
body .mobile_lesson li a {
  display: block;
  width: 295px;
  padding: 11px;
  text-align: left;
  margin-left: 20px;
}
#nav_menu .nav_menu_modules {
	margin-top:40px;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
  margin: 0px 119px;
}

}

@media screen and (min-width: 0px) and (max-width: 767px) {
	#footer_inner {
		width: 535px !important;
	}
	 #gs {
		background: #1a7db3 url('../images/home/gs.jpg') left center no-repeat;
		border: 2px solid;
		border-color: #1a7db3;
		border-radius: 11px;
		padding: 8px 11px;
		height: 40px;
		width: 236px;
		color: white;
		text-transform: capitalize;
		cursor: pointer;
		margin: 20px 0 0 60px !important;
		text-align: left;
		font-weight: 100;
		font-size: 15px;
		letter-spacing: 1px;
	}
	
	#fts {
	background:#FFF url('../images/home/fts.jpg') left center no-repeat;
	border: 2px solid;
	border-color:#FFF;
    border-radius: 11px;
	padding: 8px 11px;
	height: 40px;
	width: 236px;
	color: #1a7db3;
	text-transform:capitalize;
	cursor: pointer;
	margin: 0 0 59px 60px;
	text-align: left;
	font-weight: 300;
	font-size:15px;
	letter-spacing:1px;
	float:left;
}
#fts a {
	color: #1a7db3;
	text-decoration: none;
	text-transform: uppercase;
	
}
#fts:hover {
	color: #1a7db3;
}
	
	 body {
	background: url(../images/home/bg2.jpg)!important;
	background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position:center !important;
	
}
	 body .mobileTitle {
		display:block; 
		text-align:center;
	 }
	 
	body #nav_menu {
		margin-top: 0px;
	}
	
	body #course_title2 {
		display: none;
	}
	
	body .small_header {
		display: block;
	}
	
	body #menu_inner {
		width: 100% !important;
	}
	
	body .home_footer_inner {
		width: 100%;
	}
	
	body #home_content {
		width: 100%;
	}
	
	body #course_title2 {
		margin-left: 0;
	}
	
	body #navSubmenu {
		margin-left: 210px;
	}
	
	body #gs2 {
		margin-top: 50px;
		display: block;
		padding-left: 17px;
		padding-top: 20px;
		background: url("../images/home/gs.jpg");
		background-repeat: no-repeat;
		height: 36px;
		width: 330px;
		color: white;
		text-transform: uppercase;
		cursor: pointer;
		margin-left: -3px;
	}
	body #gs2:hover {
		background: url("../images/home/gs_over.jpg");
		background-repeat: no-repeat;
	}
	body #modules {
		padding-bottom: 20px;
		margin-top: 0;
		border-radius: 0;
		width: 341px;
		float: left;
	}
	body #right_col {
	  background-color: rgba(255,255,255,0.9);
	  padding-top: 0;
	  float: left;
	  margin-top: -40px !important;
	  margin-right: 0;
	  z-index: 5000;
	  position: relative;
	  height:117%;
	  width: 381px;
	}
body #right_menu_seg1 {
	display: none;
}
body #right_menu_seg2 {
	display: none;
}
body #right_menu_seg1_mobile {
	display: block;
}
body #right_menu_seg2_mobile {
	display: block;
}
body .mobile_mod {
	text-transform: none;
}
body #right_menu_seg1_mobile div, body #right_menu_seg2_mobile div, .ui-accordion-content{
height: auto !important;
background-color: white;
-moz-box-shadow: 0px 0px 30px #a5a5a5;
-webkit-box-shadow: 0px 0px 30px #a5a5a5;
box-shadow: 0px 5px 20px #a5a5a5;
	width: 313px !important;
  margin-left: 18px;
  margin-top: -4px;
  margin-bottom: 10px;
}
div#ui-accordion-right_menu_seg1_mobile-panel-2 {
margin-top: -7px !important;
/* border: 2px solid black; */
}
.ui-accordion-content {
	margin-top:20px;
}
body #seg2, body #seg1 {
	z-index: 100;
	position: relative;
}
body .mobile_lesson li a {
  display: block;
  width: 209px;
  padding: 11px;
  text-align: left;
  margin: 0px 20px;
}
#nav_menu .nav_menu_modules {
	margin-top:0px;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
  margin: 0px 40px;
}
#nav_menu .nav_menu_modules li a.modlink {
	width: 209px;
}

}
ul.mobile_lesson {
	margin-bottom:0px;
}
body .mobile_lesson li {
	list-style-type: none;
}
body .home_footer_inner {
	width: 92%;
}
body #nav_holder {
	margin-left: 0px;
  padding-top: 18px;
  padding-left: 40px;
  float: left;
}
body .seg {
	margin-bottom: 17px;
	margin-left: 0px;
	width: 340px;
}
body .right_mod_link {
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 8px;
}
body #footer {
	position: relative!important;
}
body #spacer {
	width: 100%;
	height: 133px;
}
}

 @media screen and (max-width: 468px) {
body #footer span {
	display: inline-block;
	line-height: 30px;
	margin-bottom: 0;
	/* padding-right: 10px; */
	vertical-align: top;
	text-align: center;
}
#nav_menu .nav_menu_modules {
	margin-top:0px;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
  margin: -5px 0px;
}
}
