/*======================================
CSS DOCUMENT FOR MEDIA QUERIES
HAVE TO CALL IT IN SETTINGS FILE var course_csslibs = ['../global/css/media_queries.css'...
======================================*/


/*-------------------- Large Devices  -------------------------*/
@media (max-width: 1199px) and (min-width: 992px) {
main, #footer_inner {width:900px;}
}

@media (min-width: 768px){
	#nav_menu .nav_menu_modules li .nav_menu_lessons {
		margin: 0px 69px;
		width:600px;
	}
}

/*-------------------- Medium Devices, standard 1330px with educator left column  -------------------------*/
@media (max-width: 991px) and (min-width: 768px){
main, #footer_inner  {width:720px;}	
.well-sm {margin-left:-71px;}
#nav_menu .nav_menu_modules {
	margin-top:0px;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
  margin: 0px 69px;
}
.nav_menu_lessons li {
  margin-left: -30px;
}
.nav_menu_lessons li a {
	width:100%;
}
}

/*-------------------- Small Devices, standard 1024px with educator left column  -------------------------*/
@media (max-width: 767px)
{
main, #footer_inner  {width:100%;}
.menu_mobile_nav { display:none; }
#nav_menu .nav_menu_modules {
	margin-top:0px;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
  margin:0px;
}

.nav_menu_lessons li {
  margin-left: -40px;
}
}

/*--------------------  X-Small Devices, phones, etc. -------------------------*/
{
	
}

