/* CSS Document */

#nav_menu {
	z-index: 9990;
}
#menu_inner .menubtn {
	color: #1a7db3;
	-webkit-box-shadow:none;
	box-shadow:none;
	background-color:#FFF;
	padding: 0px 31px;
}
#menu_inner .menubtn:hover {
	background-color: #1a7db3;
	color: #fff;
}
#menu_inner .menu_links li a {
	color: #010101;
}
#menu_inner .menu_links li a:hover {
	background-color: #1a7db3;
	color: #fff;
}

.pagenums a, .pagenums p {
	color: #1a7db3;
}
.pagenums a:hover {
	background-color: #1a7db3;
	color: #fff;
}
.page_links a.active {
	background-color: #1a7db3;
	color: #fff;
}
.home {
	color: #000;
	font-weight: 400;
}
.home:hover {
	background-color: #1a7db3;
	color: #fff;
}
.prevt {
	background-image: url(../images/global/prev.png);
}
.nextt {
	background-image: url(../images/global/next.png);
}
#nav_menu .nav_menu_modules li a.modlink {
	border-radius: 0;
	color: #FFF;
	padding: 13.5px 20px;
	margin: -1px 0px !important;
	position: relative;
	background-color: #1c7aae !important;
	font-size: 14px;
	-webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
	width:220px;
}
#nav_menu .nav_menu_modules li a.modlink:hover {
	background-color: #f4f8fb !important;
	color: #1c7aae !important;
}
.nav_menu_lessons li a {
	border-bottom: 1px solid #333;
	border-radius: 0;
	background-color: #ffffff;
	margin: 0px 0 -1px 0px;
	color: #1a7db3;
	-webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
	line-height: 1.2em;
	height: 50px;
	width: 360px;
	padding: 15px 30px;
}
.nav_menu_lessons li a .lesson_num {
	font-size: 14px;
	color: #1a7db3;
	display:inline;
	padding-right: 5px;
}
.nav_menu_lessons li a .lesson_title {
	font-size: 14px;
	color: #1a7db3;
	display:inline;
	padding: 0px;
	padding-top: 5px;
	margin: 0px;
}
.nav_menu_lessons li a:hover .lesson_num,.nav_menu_lessons li a:hover .lesson_title {
	color:#333 !important;
}
.nav_menu_lessons li a .lesson_nfo {
	font-size: 10px;
	color: #1a7db3;
	display: block;
	padding: 0px;
	margin-top: -10px;
	margin: 0px;
	display: none;;
}
.nav_menu_lessons li a, .nav_menu_lessons li a.odd {
	background-color: #f6f4f5;
}
.nav_menu_lessons li a:hover, .nav_menu_lessons li a.odd:hover {
	background-color: #f6f4f5;
	text-decoration: none;
	color:#333 !important;
}
nav {
	position: fixed;
	background-color:#f7f7f7;
}

.menu_mobile .menubtn_mobile {
float: left;
font-weight: bold;
color: #f7941e;
display: block;
line-height: 40px;
margin-top: 5px;
width: 29px;
height: 29px;
background-image: url(../images/global/menu_btn_mobile.jpg);
}

@media screen and (max-width: 809px) {
#nav_menu .nav_menu_modules li .nav_menu_lessons {
	width: 220px;
}
.nav_menu_lessons li a {
	height: auto;
	padding: 10px 9px;
    width: 100%;
}
span.lesson_nfo {
	display: none !important;
}
.nav_menu_lessons li a .lesson_num {
	margin-top: -4px;
	font-size: 14px;
}
.nav_menu_lessons li a .lesson_title {
	font-size: 14px;
	color: #1a7db3;
	display: inline;
	padding: 0px;
	padding-top: 0px;
	margin: 0px;
	text-align: left;
}
nav {
	position: absolute;
}
#nav_menu {
	position: absolute;
}
}
