<div id="big_container">
    <main id="main" role="main">
        <div id="breadcrumbs">
            <span class="breadcrumbs_course"></span> : <span class="breadcrumbs_module"></span> : <span class="breadcrumbs_lesson"><div data-tag="page_title" class=""></div></span>
        </div>
        <div id="content">
            <div id="wrapper">
                <div data-tag="page_content"></div>
            </div>
        </div>
        <div class="push"></div>
    </main>
    <footer>
        <div class="footer_inner">
            <div id="footer_copyright"></div>
        </div>
    </footer>
</div>